<mat-toolbar color="primary">
  <div class="menu-items-container">
    <nav class="menu-items" *ngIf="
        currentScreenSize === 'Large' || currentScreenSize === '';
        else mobile_nav_content">
      <div class="left-items">
        <div class="logo">
          <img src="./assets/Ecmez-logo.png" alt="">
        </div>
      </div>

      <ng-container *ngIf="headerData">
        <div class="center-items" *ngIf="headerData.centerAlign.length > 0">
          <a *ngFor="let item of headerData.centerAlign" [routerLink]="'/' + item.redirectTo" routerLinkActive="active"
            class="header-nav-button" mat-button>{{item.menuName}}</a>
        </div>
        <div class="right-container" *ngIf="headerData.rightAlign.length > 0">
          <a *ngFor="let item of headerData.rightAlign" [routerLink]="'/' + item.redirectTo" routerLinkActive="active"
            class="header-nav-button" color="accent" mat-button>{{item.menuName}}</a>
        </div>
      </ng-container>
    </nav>
  </div>
</mat-toolbar>

<ng-template #mobile_nav_content>
  <button mat-icon-button (click)="openSideNav($event)">
    <mat-icon>menu</mat-icon>
  </button>  <div *ngIf="headerData" color="primary" id="mySidenav" class="sidenav"
    [ngStyle]="{'width': sideNavOpen ? '260px' : '0px'}">
    <ng-container *ngIf="headerData.centerAlign.length > 0">
      <a *ngFor="let item of headerData.centerAlign" [routerLink]="'/' + item.redirectTo" routerLinkActive="active"
        class="header-nav-button" mat-button>{{item.menuName}}</a>
    </ng-container>
    <ng-container *ngIf="headerData.rightAlign.length > 0">
      <a *ngFor="let item of headerData.rightAlign" [routerLink]="'/' + item.redirectTo" routerLinkActive="active"
        class="header-nav-button" color="accent" mat-button>{{item.menuName}}</a>
    </ng-container>
  </div>
</ng-template>
