.logo {
  width: 4rem;
  img {
    width: 4rem;
  }
}
.menu-items-container {
  width: 100%;
}

.menu-items {
  display: flex;
  justify-content: center;
}
.header-nav-button {
  padding: .875rem 2rem;
  border-radius: 0;
  border: 0;
}
.left-items {
  text-align: left;
}
.center-items {
  flex: 1;
  text-align: center;
}
.right-items {
  margin-left: auto;
}

.active {
  background-color: grey;
  color: #fafafa;
}


.sidenav {
  height: 100%;
  position: fixed;
  z-index: 1000;
  top: 55px;
  left: 0;
  background-color: #673ab7;
  color: #ffffff;
  overflow-x: hidden;
  transition: .5s;
  width: 0;
}

@media(max-width: 767px) {
  .sidenav {
    .header-nav-button {
      display: block;
      padding: .5rem 1rem;
    }
  }
}

