.menu-item {
  background: rgba(212, 216, 238, 0.15);
  color: #3f51b5;
  padding: 1rem;
  .active & {
    background: rgba(63, 81, 181, 0.15);
  }
}
.menu-item-anchor {
  display: flex;
  align-items: center;
  text-decoration: none;
}

.link-name {
  margin: 0 .25rem;
 }

.dropdown-title {
  padding: 1rem;
  background: rgba(212, 216, 238, 0.15);
  ul {
    list-style: none;
    padding: 0;
    margin-top: 0.25rem;
    li {
      padding: 0.75rem 0 0.75rem 1.5rem;
      a {
        text-decoration: none;
      }
    }
    li:hover {
      background: rgba(63, 81, 181, 0.15);
    }
  }
}
.menu:hover {
  background: rgba(63, 81, 181, 0.15);
}

